*.cpg
case-studies/
evaluation/policies/*
!evaluation/policies/baseline/
!evaluation/policies/baseline/**
evaluation/libraries/*

.venv/

__pycache__/
.bsp/
.scala-build/
.vscode/
.metals/

# Outputs from evaluation generation
*.aux
*.pdf
*.log
*.tex
